.cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 1rem;
    opacity: 0.9;
}

.titulo {
    margin: 0;
    margin-left: 100px;
    text-decoration: none;
    color: #ABB2BF;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-decoration: none;
    color: #ABB2BF;
    transition: all 0.3s ease;
    padding: 0px 10px 10px 10px;
    border-radius: 5px;
}

.nav-item:hover {
    color: #f0abfc;;
}

.hashtag {
    font-weight: bold;
    color: #c084fc;
}

.selecao-idioma {
    background-color: transparent;
    border: 1px solid #ABB2BF;
    color: #ABB2BF;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.selecao-idioma:hover {
    background-color: #ABB2BF;
    color: #1f232a;
}

.selecao-idioma.active {
    background-color: #f0abfc;
    color: #fff;
    border-color: #c084fc;
}

.selecao-idioma option {
    background-color: #1f232a;
    color: #fff;
}

@media (max-width: 768px) {
    .cabeca {
        flex-direction: column;
        padding: 10px;
        padding-top: 1rem;
    }

    .titulo {
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .nav-links {
        flex-direction: row;
        gap: 10px;
        width: 100%;
        justify-content: space-around;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        font-size: 0.85rem;
        padding: 5px 5px 5px 5px;
    }

    .selecao-idioma {
        font-size: 0.85rem;
        padding: 3px 8px;
    }
}
